/* @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Inter/Inter-Thin-BETA.woff") format("woff");
    url("../fonts/Inter/Inter-Thin-BETA.woff2") format("woff2"),
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Inter/Inter-Regular.woff") format("woff");
       url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Medium.woff") format("woff");
       url("../fonts/Inter/Inter-Medium.woff2") format("woff2"),
} */