/* @import url('fonts.css'); */

/* Load fonts */

@font-face {
    font-family: Graphik;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Regular-Web.woff2) format("woff2"), url(../fonts/Graphik/Graphik-Regular-Web.woff) format("woff");
}

@font-face {
    font-family: Graphik;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Medium-Web.woff2) format("woff2"), url(../fonts/Graphik/Graphik-Medium-Web.woff) format("woff")
}

/* Universal styling */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid rgba(0, 0, 0, .0);
    /* outline: 1px solid rgba(0, 0, 0, .6) */
}

html {
    /* background: #FBF4EC; */
    /* background: #F2ECE5; */
    background: #F2ECE5;
    color: #252525;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Graphik, sans-serif; */
    font-family: Graphik, sans-serif;
    font-size: calc(12px + .35vw);
    font-weight: 400;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Preloader styling */

.preloader {
    /* position: fixed; */
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    /* background: #252525; */
    background: #252525;
    color: #FBF4EC;
    visibility: visible;
    /* opacity: 1; */
    overflow: hidden;
    z-index: 1000;
    /* display: none; */
}

.preload-info {
    position: relative;
    opacity: 0;
    z-index: 1001;
}

.preloader h1 {
    position: relative;
    top: 45vh;
    left: 10vw;
    width: 100%;
    /* text-align: center; */
    font-weight: 400;
}

.progress-bar {
    position: absolute;
    bottom: -1vh;
    left: 0;
    height: 1vh;
    width: 100%;
    /* background: #2FEAB2; */
    background: #FBF4EC;
    /* background: #252525; */
}

/* Header styling */

header {
    width: 70vw;
    margin: 12.5vh auto 20vh auto;
}

nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    margin-bottom: 15vh;
}

nav li ul {
    display: inline;
}

nav li ul a {
    position: relative;
    margin-left: 1.5em;
    font-size: .8em;
    font-weight: 400;
}

.header-preview {
    position: relative;
    margin: 7.5em 0;
}

header video {
    margin: 0 -10vw;
    padding: 0;
    width: 90vw;
    /* user-select: none; */
}

.header-preview a {
    color: #F2ECE5;
}

.header-preview-info {
    position: absolute;
    width: 60vw;
    top: 15vw;
    left: 6em;
}

/* Text styling */

h1 {
    position: relative;
    font-weight: 700;
    font-size: calc(4em - 1vw);
    z-index: 200;
}

header h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
    color: #F2ECE5;
}

.header-preview-info h2 {
    font-size: calc(4.5em - 1vw);
    line-height: 1.5em;
    margin-bottom: 1em;
}

h3 {
    /* width: 100%; */
    font-size: 2em;
    color: #252525;
    font-weight: 700;
    text-align: center;
    /* line-height: 5em; */
}

h5 {
    /* font-size: 1.2em; */
    font-weight: 400;
}

h6 {
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .3px;
}

a {
    position: absolute;
    display: inline-block;
    color: #F2ECE5;
    text-decoration: none;
    -webkit-transition: .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    z-index: 1;
}

a:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    background: #2FEAB2;
    -webkit-transition: .5s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: .5s cubic-bezier(0.0, 0.0, 0.2, 1);
    z-index: -1;
}

a:hover:after,
a:focus:after {
    height: 11px;
}

nav a {
    color: #252525;
}

.header-preview-info {
    color: #252525;
}

/* Main content styling */

section {
    width: 70vw;
    margin: 0 auto;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / span 12;
    margin: 20vh 0;
    padding: 10vh;
}

.project-info {
    background: #252525;
    padding: 100px 90px 100px 90px;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22); */
    /* box-shadow: 0 5px 10px rgba(73, 74, 78, 0.15), 0 15px 40px rgba(31, 32, 34, 0.62); */
    -webkit-box-shadow: 0 5px 10px rgba(73, 74, 78, 0.19), 0 15px 40px rgba(31, 32, 34, 0.36);
            box-shadow: 0 5px 10px rgba(73, 74, 78, 0.19), 0 15px 40px rgba(31, 32, 34, 0.36);
}

.project-image {
    overflow: hidden;
}

.project-left .project-image {
    position: relative;
    grid-column: 2 / span 12;
    grid-row: 1 / span 3;
    width: 120%;
    right: -5vw;
    top: -5vh;
}

.project-right .project-image {
    position: relative;
    grid-column: 1 / span 12;
    grid-row: 1 / span 3;
    width: 100%;
    left: -15vw;
}

.project .project-image img {
    width: 100%;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.12); */
}

.project .project-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 210%;
    height: 180%;
    margin: -30% 0 0 -80%;
    /* margin-top: -60px; */
    background: #F2ECE5;
    overflow: hidden;
    /* transform: skewX(-50px); */
    z-index: 1;
}

.project-left .project-info {
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    background: #252525;
    color: #F2ECE5;
    margin-left: -10vw;
    z-index: 2;
}

.project-right .project-info {
    position: relative;
    grid-column: 8 / span 5;
    grid-row: 2 / span 1;
    background: #252525;
    color: #F2ECE5;
    margin-right: -10vw;
    z-index: 2;
}

.project-info h6 span {
    font-size: 1.2em;
    font-weight: 700;
    color: #2FEAB2;
}

.project-info p {
    margin: 2em 0 2em 0;
    font-size: 1.1em;
    line-height: 1.4
}


.project-info a {
    font-size: .8em;
    /* line-height: 1.7em; */
}

.all-projects-link a {
    position: absolute;
    right: 15vw;
    margin-top: -10vh;
    font-size: 1em;
    color: #252525;
    /* text-align: right; */
}

/* About styling */

#about-intro {
    position: relative;
    background: #F2ECE5;
    height: 120vh;
    width: 100%;
    margin-top: 20vh;
    padding: 20vh 15vw;
}

.about-info h2 {
    position: absolute;
    left: 0;
    bottom: 40vh;
    width: 100%;
    text-align: center;
    mix-blend-mode: difference;
}

.fixed-h1 {
    /* position: relative; */
    top: 1px;
    padding: 0;
    color: #F2ECE5;
    mix-blend-mode: difference;
}

#about {
    /* height: 200vh; */
    width: 100%;
    background-color: #252525;
}

.about-me {
    width: 55vw;
    margin: 0 auto 20vh auto;
    padding: 9em 7em 8em 7em;
    background: #F2ECE5;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    -webkit-box-shadow: 0 5px 10px rgba(73, 74, 78, 0.09), 0 15px 40px rgba(31, 32, 34, 0.06);
            box-shadow: 0 5px 10px rgba(73, 74, 78, 0.09), 0 15px 40px rgba(31, 32, 34, 0.06);
}

.about-me p {
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin: 1em 0 3em 0;
}

.about-me a {
    color: #252525;
}

#experience {
    /* height: 100vh; */
    width: 70vw;
    margin: 20vh auto 0 auto;
    padding-bottom: 5vh;
}

.experience-lists {
    /* display: flex; */
    margin: 30vh 0;
}

.tool-list,
.exploring-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* width: 40vw; */
    margin: 10vh auto;
    padding: 0 15vw;
}

.tool-list h3,
.exploring-list h3 {
    font-size: 1.5em;
}

.tool-list ul li,
.exploring-list ul li {
    /* display: table-row; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 15vw;
    margin: 0 10vw 1em 0;
}

/* Footer styling */

footer {
    background-color: #252525;
    color: #F2ECE5;
    margin: 0;
    padding: 7.5vw 15vw;
}

footer h1 {
    margin-bottom: 0;
}

footer a {
    position: relative;
    font-size: 1em;
    font-weight: 400;
    color: #F2ECE5;
}

.footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5em;
}

.footer-contact {
    margin-top: 2em;
}

.footer-contact a:first-child {
    margin-bottom: 1em;
}

.contact-margin {
    margin-top: 4em;
    text-decoration: none;
}

.contact-margin a:after {
    display: none;
}

.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

li {
    list-style: none;
}

#about {
    scroll-behavior: smooth;
}

#contact {
    scroll-behavior: smooth;
}

.footer-links li a {
    position: relative;
    display: table;
    margin: 2em 0 2em 2em;
}

/* Media Queries */

@media only screen and (max-width: 1624px) {

    .project-left .project-image {
        width: 100%;
        right: -10vw;
    }

    .project-right .project-image {
        position: relative;
        grid-column: 1 / span 12;
        grid-row: 1 / span 3;
        width: 100%;
        left: -10vw;
    }

    .project-left .project-info {
        position: relative;
        grid-column: 1 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #F2ECE5;
        margin-left: -15vw;
        z-index: 2;
    }

    .project-right .project-info {
        position: relative;
        grid-column: 8 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #F2ECE5;
        margin-right: -10vw;
        z-index: 2;
    }

}

@media only screen and (max-width: 1330px) {

    header {
        width: 80vw;
    }

    header video {
        width: 95vw;
        margin: 0 -7.5vw;
    }

    section {
        width: 80vw;
    }

    h1 {
        font-size: calc(3em - 1vw);
    }

    h2 {
        font-size: calc(2.5em - 1vw);
        line-height: 1.5em
    }

    .project-left .project-image {
        position: relative;
        grid-column: 2 / span 12;
        grid-row: 1 / span 3;
        width: 100;
        right: -10vw;
    }

    .project-right .project-image {
        position: relative;
        grid-column: 1 / span 12;
        grid-row: 1 / span 3;
        width: 100%;
        left: -10vw;
    }

    .project-left .project-info {
        position: relative;
        grid-column: 1 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #F2ECE5;
        margin-left: -15vw;
        z-index: 2;
    }

    .project-right .project-info {
        position: relative;
        grid-column: 8 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #F2ECE5;
        margin-right: -10vw;
        z-index: 2;
    }

    #about-intro {
        padding: 10vh 10vw;
    }

    .about-me {
        width: 70%;
        padding: 9em 7em;
    }

}

@media only screen and (max-width: 1024px) {

    header {
        width: 80vw;
        margin: 10vh auto 20vh auto;
    }

    header video {
        width: 95vw;
        margin: 0 -7.5vw;
        overflow: hidden;
    }

    section {
        width: 80vw;
    }

    h1 {
        font-size: calc(3em - 1vw);
    }

    h2 {
        font-size: calc(2.5em - 1vw);
        line-height: 1.5em
    }

    .header-preview-info {
        width: 50vw;
        position: absolute;
        top: 8em;
        left: 6em;
    }

    .header-preview-info h2 {
        font-size: 3em;
        margin-bottom: .5em;
    }

    .project-left .project-image {
        position: relative;
        grid-column: 1 / span 12;
        grid-row: 1 / span 3;
        width: 130%;
        right: 0;
    }

    .project-right .project-image {
        position: relative;
        grid-column: 1 / span 12;
        grid-row: 1 / span 3;
        width: 130%;
        left: -15vw;
    }

    .project-left .project-info {
        position: relative;
        grid-column: 1 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #F2ECE5;
        margin-left: -17.5vw;
        z-index: 2;
    }

    .project-right .project-info {
        position: relative;
        grid-column: 8 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #F2ECE5;
        margin-right: -17.5vw;
        z-index: 2;
    }

    .project .project-image .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 240%;
        height: 200%;
        margin: -35% 0 0 -90%;
        /* margin-top: -60px; */
        background: #F2ECE5;
        overflow: hidden;
        /* transform: skewX(-50px); */
        z-index: 1;
    }

    #about-intro {
        padding: 10vh 10vw;
    }

    .about-me {
        width: 80%;
        padding: 8em 7em;
    }

}

@media only screen and (max-width: 800px) {

    header {
        width: 80vw;
    }

    header video {
        width: 95vw;
        margin: 0 -7.5vw;
    }

    section {
        width: 80vw;
    }

    a:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -3px;
        background: #2FEAB2;
        -webkit-transition: .5s cubic-bezier(0.0, 0.0, 0.2, 1);
        transition: .5s cubic-bezier(0.0, 0.0, 0.2, 1);
        z-index: -1;
    }

    a:hover:after,
    a:focus:after {
        height: 8px;
    }

    h1 {
        font-size: calc(3em - 1vw);
    }

    h2 {
        font-size: calc(2.5em - 1vw);
        line-height: 1.5em
    }

    section {
        width: 100%;
    }

    #projects h1 {
        margin-left: 10vw;
    }

    .header-preview-info {
        width: 50vw;
        top: 8em;
        left: 6em;
    }

    .header-preview-info h2 {
        font-size: 3em;
        margin-bottom: .5em;
    }

    .grid-12 {
        margin: 10vh 0;
        padding: 2.5vh 2.5vw;
    }

    .project-left .project-image {
        width: 100%;
        margin: 0;
        right: 0;
    }

    .mobile-margin {
        margin: 15vh 0;
    }

    .project-left .project-info {
        width: 100%;
        /* padding: 4em 4em 5.5em 4em; */
        padding: 0;
        grid-column: 1 / span 12;
        grid-row: 4;
        margin: -70px auto;
    }

    .project-right .project-image {
        position: relative;
        grid-column: 1 / span 12;
        width: 100%;
        top: 10vh;
        left: 0;
    }

    .project-right .project-info {
        padding: 2em 1em;
        grid-column: 1 / span 12;
        grid-row: 4;
        margin: 70px auto;
    }

    .project-left .project-info {
        padding: 4em 3em;
        grid-column: 1 / span 12;
        grid-row: 4;
        margin: -2em auto;
        font-size: .8em;
    }

    #about-intro {
        padding: 20vh 10vw 10vh 10vw;
    }

    .about-me {
        width: 80%;
        padding: 7em 5em;
    }

    .about-me p {
        font-size: 1.4em;
    }

    .experience-lists {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin: 10vh 0;
    }

    .tool-list,
    .exploring-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* justify-content: start; */
        /* width: 40vw; */
        margin: 10vh auto;
        padding: 0 5vw;
    }

    .tool-list h3,
    .exploring-list h3 {
        font-size: 1.5em;
        text-align: left;
        margin-bottom: 1.6em;
    }

    .tool-list ul li,
    .exploring-list ul li {
        margin: 2em 10vw 1em 0;
        padding-left: 1.5em;
    }

}

@media only screen and (max-width: 700px) {

    header {
        width: 80vw;
        margin: 5vh auto 20vh auto;
    }

    header h1 {
        font-size: 2.4em;
    }

    .header-preview-info {
        width: 50vw;
        top: 7em;
        left: 2em;
    }

    .header-preview-info h2 {
        font-size: 2.2em;
        margin-bottom: .5em;
    }

    .header-preview-info a {
        font-size: .6em;
    }

    .project-left .project-image {
        top: -7.5vh;
    }

    .all-projects-link a {
        margin-top: 0;
    }

    #about-intro {
        height: 140vh;
        margin-top: 0;
    }

    #experience {
        width: 100%;
    }

    #experience h1 {
        margin-left: 10vw;
    }

    .experience-lists {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 10vh 0;
    }

    .tool-list,
    .exploring-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* justify-content: start; */
        width: 80%;
        height: 100px;
        font-size: .8em;
        margin: 10vh 10vw;
        padding: 0;
    }

    .tool-list h3,
    .exploring-list h3 {
        font-size: 1.5em;
        text-align: left;
        margin-bottom: 1.6em;
    }

    .tool-list ul,
    .exploring-list ul {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 200px;
        column-gap: 30px;
        padding: 0;
        margin: 0;
    }

    .tool-list ul li,
    .exploring-list ul li {
        width: 100%;
        height: 50px;
        /* margin: 2em 0 1em 0; */
        margin: 0;
        padding: 0;
        /* padding-left: 1.5em; */
    }

    footer {
        padding: 20vh 10vw;
    }

    .footer-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contact-margin {
        position: relative;
        bottom: -35.5vh;
        margin-top: 4em;
        text-decoration: none;
    }

    .footer-links li a {
        margin: 2em 20vw 2em 0em;
    }
}

@media only screen and (max-width: 550px) {

    header h1 {
        font-size: 2.2em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .header-preview-info {
        width: 50vw;
        top: 4em;
        left: 2.5em;
    }

    .header-preview-info h2 {
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    .header-preview-info a {
        font-size: .6em;
    }

    .about-me {
        width: 90%;
        padding: 5em 2.5em;
    }

    .tool-list ul li,
    .exploring-list ul li {
        width: 40vw;
        margin: 0;
        padding-left: .5em;
    }

}