/* @import url('fonts.css'); */

/* Load fonts */

@font-face {
    font-family: Graphik;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Regular-Web.woff2) format("woff2"), url(../fonts/Graphik/Graphik-Regular-Web.woff) format("woff");
}

@font-face {
    font-family: Graphik;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Medium-Web.woff2) format("woff2"), url(../fonts/Graphik/Graphik-Medium-Web.woff) format("woff")
}

/* Universal styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid rgba(0, 0, 0, .0);
    /* outline: 1px solid rgba(0, 0, 0, .6) */
}

html {
    background: #FBF4ECx;
    background: #FAF0DF;
    color: #252525;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Graphik, sans-serif;
    font-size: calc(12px + .35vw);
    /* font-weight: 300; */
    font-weight: 400;
    line-height: 1.4;
    overflow-x: hidden;
}

/* Header styling */

header {
    width: 70vw;
    margin: 12.5vh auto 20vh auto;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 15vh;
}

nav li ul {
    display: inline;
}

nav li ul a {
    position: relative;
    margin-left: 1.5em;
    font-size: .8em;
    font-weight: 400;
}

.header-preview {
    position: relative;
    margin: 7.5em 0;
}

header img {
    margin: 0 -10vw;
    padding: 0;
    width: 90vw;
    user-select: none;
}

header video {
    margin: 0 -10vw;
    padding: 0;
    width: 90vw;
    /* user-select: none; */
}

.video-overlay {
    position: absolute;
    margin: 0 -25vw;
    width: 110vw;
    height: 100%;
    background: #FAF0DF;
    z-index: 100;
}

/* .video-overlay {
    position: fixed;
    top: 0;
    margin: 0 -15vw;
    width: 100vw;
    height: 100vh;
    background: #FAF0DF;
    z-index: 10;
} */

header img:hover>header img path {
    fill: #DA4567;
}

header nav img {
    margin: 0;
    width: 4em;
}

.header-preview a {
    color: #FAF0DF;
}

.header-preview-info {
    width: 500px;
    position: absolute;
    top: 12em;
    left: 6em;
}

/* Text styling */

h1 {
    position: relative;
    font-weight: 700;
    font-size: calc(4em - 1vw);
    z-index: 200;
}

header h1 {
    font-size: 5em;
}

.h1-medium {
    font-weight: 300;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
    color: #FAF0DF;
}

.header-preview-info h2 {
    font-size: calc(4.5em - 1vw);
    line-height: 1.5em;
}

h3 {
    position: fixed;
    display: table;
    /* width: 100%; */
    top: 0;
    font-size: 30em;
    color: #FAF0DF;
    font-weight: 700;
    text-align: center;
    /* line-height: 5em; */
}

h5 {
    /* font-size: 1.2em; */
    font-weight: 400;
}

h6 {
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .3px;
}

a {
    position: absolute;
    display: inline-block;
    color: #FAF0DF;
    text-decoration: none;
    transition: .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    z-index: 1;
}

a:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    background: #2FEAB2;
    transition: .5s cubic-bezier(0.0, 0.0, 0.2, 1);
    z-index: -1;
}

a:hover:after,
a:focus:after {
    height: 11px;
}

nav a {
    color: #252525;
}

.header-preview-info {
    color: #252525;
}

/* Main content styling */

section {
    width: 70vw;
    margin: 0 auto;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / span 12;
    margin: 20vh 0;
    padding: 10vh;
}

.project-info {
    background: #252525;
    padding: 100px 90px 100px 90px;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 5px 10px rgba(73, 74, 78, 0.15), 0 15px 40px rgba(31, 32, 34, 0.62);
}

.project-image {
    overflow: hidden;
}

.project-left .project-image {
    position: relative;
    grid-column: 2 / span 12;
    grid-row: 1 / span 3;
    width: 120%;
    right: -5vw;
}

.project-right .project-image {
    position: relative;
    grid-column: 1 / span 12;
    grid-row: 1 / span 3;
    width: 100%;
    left: -15vw;
}

.project .project-image img {
    width: 100%;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.12); */
}

.project .project-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 210%;
    height: 180%;
    margin: -30% 0 0 -70%;
    /* margin-top: -60px; */
    background: #FAF0DF;
    overflow: hidden;
    /* transform: skewX(-50px); */
    z-index: 1;
}

.project-left .project-info {
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    background: #252525;
    color: #FAF0DF;
    margin-left: -10vw;
    z-index: 2;
}

.project-right .project-info {
    position: relative;
    grid-column: 8 / span 5;
    grid-row: 2 / span 1;
    background: #252525;
    color: #FAF0DF;
    margin-right: -10vw;
    z-index: 2;
}

.project-info p {
    margin: 2em 0 2em 0;
    font-size: 1.2em;
}

.project-info h4 {
    margin: 2.5em 0;
    font-size: .8em;
}

.project-info h6 span {
    font-weight: 700;
}

.h6-line {
    display: inline-flex;
    position: relative;
    top: -3px;
    height: 2px;
    width: 20px;
    margin: 0 10px 0 0;
    background: #FAF0DF;
}

.project-info a {
    font-size: .8em;
    /* line-height: 1.7em; */
}

.all-projects-link a {
    position: absolute;
    right: 15vw;
    margin-top: -10vh;
    font-size: 1em;
    color: #252525;
    /* text-align: right; */
}

/* About styling */

#about-intro {
    position: relative;
    background: #FAF0DF;
    height: 150vh;
    width: 100vw;
    margin-top: 20vh;
    padding: 10vh 15vw;
}

.about-info h2 {
    position: absolute;
    left: 0;
    bottom: 70vh;
    width: 100%;
    text-align: center;
    mix-blend-mode: difference;
}

.fixed-h1 {
    /* position: relative; */
    top: 1px;
    padding: 0;
    color: #FAF0DF;
    mix-blend-mode: difference;
}

.sticky-h1 {
    position: fixed;
    top: 0;
    margin-top: 10vh;
    padding: 0;
    z-index: 1001;
}

#quotes {
    position: absolute;
    /* height: 100vh; */
    width: 100%;
    background: #252525;
}

#quotes h3 {
    position: relative;
    font-size: 5em;
    text-align: left;
    line-height: 5em;
    /* top: calc(50vh - 1.2em); */
    color: #FAF0DF;
    z-index: 500;
}

.highlighted-text {
    font-weight: 700;
    color: #2FEAB2;
}

#about {
    /* height: 200vh; */
    width: 100%;
    background-color: #252525;
}

.about-me {
    width: 55vw;
    margin: 0 auto 20vh auto;
    padding: 7.5em 11em;
    background: #FAF0DF;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.about-me p {
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 2em;
}

.about-me a {
    color: #252525;
}

.work-experience {
    height: 150vh;
    width: 70vw;
    margin: 20vh auto;
}

.hello {
    /* height: 100vh; */
    width: 100%;
}

/* Footer styling */

footer {
    background-color: #252525;
    color: #FAF0DF;
    margin: 0;
    padding: 7.5vw 15vw;
}

footer h1 {
    margin-bottom: 0;
}

footer a {
    position: relative;
    font-size: 1em;
    font-weight: 400;
    color: #FAF0DF;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5em;
}

.footer-contact {
    margin-top: 2em;
}

.footer-contact a:first-child {
    margin-bottom: 1em;
}

.contact-margin {
    margin-top: 4em;
    text-decoration: none;
}

.contact-margin a:after {
    display: none;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

#about {
    scroll-behavior: smooth;
}

#contact {
    scroll-behavior: smooth;
}

.footer-links li a {
    position: relative;
    display: table;
    margin: 2em 0 2em 2em;
}

/* Media Queries */

@media only screen and (max-width: 1624px) {

    .project-left .project-image {
        position: relative;
        grid-column: 2 / span 12;
        grid-row: 1 / span 3;
        width: 100%;
        right: -10vw;
    }

    .project-right .project-image {
        position: relative;
        grid-column: 1 / span 12;
        grid-row: 1 / span 3;
        width: 100%;
        left: -10vw;
    }

    .project-left .project-info {
        position: relative;
        grid-column: 1 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #FAF0DF;
        margin-left: -15vw;
        z-index: 2;
    }

    .project-right .project-info {
        position: relative;
        grid-column: 8 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #FAF0DF;
        margin-right: -10vw;
        z-index: 2;
    }

}

@media only screen and (max-width: 1330px) {

    header {
        width: 80vw;
    }

    header video {
        width: 95vw;
        margin: 0 -7.5vw;
    }

    section {
        width: 80vw;
    }

    h1 {
        font-size: calc(3em - 1vw);
    }

    h2 {
        font-size: calc(2.5em - 1vw);
        line-height: 1.5em
    }

    .project-left .project-image {
        position: relative;
        grid-column: 2 / span 12;
        grid-row: 1 / span 3;
        width: 100;
        right: -10vw;
    }

    .project-right .project-image {
        position: relative;
        grid-column: 1 / span 12;
        grid-row: 1 / span 3;
        width: 100%;
        left: -10vw;
    }

    .project-left .project-info {
        position: relative;
        grid-column: 1 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #FAF0DF;
        margin-left: -15vw;
        z-index: 2;
    }

    .project-right .project-info {
        position: relative;
        grid-column: 8 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #FAF0DF;
        margin-right: -10vw;
        z-index: 2;
    }

    .video-overlay {
        width: 150%;
    }

    #about-intro {
        padding: 10vh 10vw;
    }

    .about-me {
        width: 70%;
        padding: 5em 7em;
    }

}

@media only screen and (max-width: 1024px) {

    header {
        width: 80vw;
    }

    header video {
        width: 95vw;
        margin: 0 -7.5vw;
        overflow: hidden;
    }

    section {
        width: 80vw;
    }

    h1 {
        font-size: calc(3em - 1vw);
    }

    h2 {
        font-size: calc(2.5em - 1vw);
        line-height: 1.5em
    }

    .header-preview-info {
        width: 50vw;
        position: absolute;
        top: 8em;
        left: 6em;
    }

    .header-preview-info h2 {
        font-size: 3em;
        margin-bottom: .5em;
    }

    .project-left .project-image {
        position: relative;
        grid-column: 1 / span 12;
        grid-row: 1 / span 3;
        width: 130%;
        right: 0;
    }

    .project-right .project-image {
        position: relative;
        grid-column: 1 / span 12;
        grid-row: 1 / span 3;
        width: 130%;
        left: -15vw;
    }

    .project-left .project-info {
        position: relative;
        grid-column: 1 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #FAF0DF;
        margin-left: -17.5vw;
        z-index: 2;
    }

    .project-right .project-info {
        position: relative;
        grid-column: 8 / span 5;
        grid-row: 2 / span 1;
        background: #252525;
        color: #FAF0DF;
        margin-right: -17.5vw;
        z-index: 2;
    }

    .project .project-image .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 210%;
        height: 160%;
        margin: -20% 0 0 -80%;
        /* margin-top: -60px; */
        background: #FAF0DF;
        overflow: hidden;
        /* transform: skewX(-50px); */
        z-index: 1;
    }

    #about-intro {
        padding: 10vh 10vw;
    }

    .about-me {
        width: 80%;
        padding: 8em 7em;
    }

}

@media only screen and (max-width: 800px) {

    header {
        width: 80vw;
    }

    header video {
        width: 95vw;
        margin: 0 -7.5vw;
    }

    section {
        width: 80vw;
    }

    a:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -3px;
        background: #2FEAB2;
        transition: .5s cubic-bezier(0.0, 0.0, 0.2, 1);
        z-index: -1;
    }

    a:hover:after,
    a:focus:after {
        height: 8px;
    }

    h1 {
        font-size: calc(3em - 1vw);
    }

    h2 {
        font-size: calc(2.5em - 1vw);
        line-height: 1.5em
    }

    section {
        width: 100vw;
    }

    #projects h1 {
        margin-left: 10vw;
    }

    .header-preview-info {
        width: 50vw;
        top: 8em;
        left: 6em;
    }

    .header-preview-info h2 {
        font-size: 3em;
        margin-bottom: .5em;
    }

    .grid-12 {
        margin: 10vh 0;
        padding: 2.5vh 2.5vw;
    }

    .project-left .project-image {
        width: 100%;
        margin: 0;
        right: 0;
    }

    .project-left .project-info {
        width: 100%;
        padding: 70px;
        grid-column: 1 / span 12;
        grid-row: 4;
        margin: -70px auto;
    }

    .project-right .project-image {
        position: relative;
        grid-column: 1 / span 12;
        width: 100%;
        top: 10vh;
        left: 0;
    }

    .project-right .project-info {
        padding: 70px;
        grid-column: 1 / span 12;
        grid-row: 4;
        margin: -70px auto;
    }

    #about-intro {
        padding: 20vh 10vw 10vh 10vw;
    }

    .about-me {
        width: 80%;
        padding: 7em 5em;
    }

    .about-me p {
        font-size: 1.4em;
    }

}

@media only screen and (max-width: 700px) {

    .header-preview-info {
        width: 50vw;
        top: 7em;
        left: 2em;
    }

    .header-preview-info h2 {
        font-size: 2.2em;
        margin-bottom: .5em;
    }

    .header-preview-info a {
        font-size: .6em;
    }

    footer {
        padding: 20vh 10vw;
    }

    .footer-info {
        flex-direction: column;
    }

    .contact-margin {
        position: relative;
        bottom: -27.5vh;
        margin-top: 4em;
        text-decoration: none;
    }

    .footer-links li a {
        margin: 2em 20vw 2em 0em;
    }
}

@media only screen and (max-width: 550px) {

    header h1 {
        font-size: 3em;
    }

    h1 {
        font-size: 2em;
    }

    .h1-medium: {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .header-preview-info {
        width: 50vw;
        top: 4em;
        left: 2.5em;
    }

    .header-preview-info h2 {
        font-size: 1.2em;
        margin-bottom: .5em;
    }

    .header-preview-info a {
        font-size: .6em;
    }

    .about-me {
        font-weight: 100;
        width: 90%;
        padding: 5em 2.5em;
    }

}